<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virginia Grid Optimization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!--Main Page Title-->
    <h1>Virginia Grid Optimization</h1>
    <!-- Navigation Menu -->
    <nav>
        <ul id="horizontal-menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('methodology') }}">Methodology</a></li>
            <li><a href="{{ url_for('tool') }}">Tool</a></li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
        </ul>
    </nav>
    <!-- Page Content -->
    <div class="container">
        {% block content %}{% endblock %}
    </div> 
    <!-- Include scritps like updating plt figs -->
    {% block scripts %}{% endblock %}
</body>
</html>
